@using DataLibrary.HealthCheck;

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <h3>Uptime percentage in the past 24 hours = @ViewBag.UpTimePercetange %</h3>
       
        @foreach(HealthCheck hc in ViewBag.LastHour)
        {
            <h6>@hc.Timestamp</h6>
            <h5>@hc.Status</h5>
        }
    </div>
</div>